
<div class = "row">
<div class = "col-3" id="search-component">
    <h2><label for="search-box">Type in box to search</label></h2>

    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    <button  (click) = "search(searchBox.value)">Search</button><br>

    <ul class = "col-3" id="search-result">
      <li (click)="selUser(user)" *ngFor="let user of users$ | async"  > <!-- async provides subscription -->
       {{user.login}}
      </li>
    </ul>
  </div>

  <div *ngIf="gitUser" class = "col-8" id ="details">
    <h2>Git user details</h2>
    <ul>
      <li>Login: {{gitUser.login}}</li>
      <li>ID: {{gitUser.id}}</li>
      <li>Node ID: {{gitUser.node_id}}</li>
      <li>Avatar URL: {{gitUser.avatar_url}}</li>
      <li>URL: {{gitUser.url}}</li>
      <li>HTML URL: {{gitUser.html_url}}</li>
      <li>Followers URL: {{gitUser.followers_url}}</li>
      <li>Following URL: {{gitUser.following_url}}</li>
      <li>Gists URL: {{gitUser.gists_url}}</li>
      <li>Starred URL: {{gitUser.starred_url}}</li>
      <li>Subscriptions URL: {{gitUser.subscriptions_url}}</li>
      <li>Organisations URL: {{gitUser.organizations_url}}</li>
      <li>Repos URL: {{gitUser.repos_url}}</li>
      <li>Events URL: {{gitUser.events_url}}</li>
      <li>Received URL: {{gitUser.received_events_url}}</li>
      <li>Type: {{gitUser.type}}</li>
      <li>Site admin: {{gitUser.site_admin}}</li>
      <li>Score: {{gitUser.score}}</li>

    </ul>
    <p></p>
  </div>
<!--
  <ul *ngFor="let user of users$ | async; let i = index" class = "col-4">
    <li (click)="selUser(user)">User name: {{user.login}}</li>
    <li>User ID: {{user.id}}</li>
  </ul>
-->


</div>
